<% content_for :javascripts do %>
  <%= javascript_include_tag 'messages' %>
<% end %>
<%= form_for @message, :html => { :class => "form-horizontal"} do |f| %>
  <% if @message.errors.any? %>
    <div class="alert alert-error">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%=t('errors.title')%></h4>
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :subject, t(:subject), class: "control-label" %>
    <div class="controls">
    	<%= f.text_field :subject %>
    </div>
  </div>
  <div class="control-group">
  	<%= f.label :user_ids, t(:users)+':', class: "control-label"%>
  	<div class="controls">
  		<%= f.select :user_ids, @users.collect  {|p| [ p.username, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_recipients), :multiple => true, :class => 'search-field'} %>
  	</div>
  </div>
  <div class="control-group">
    <%= f.label :body, t(:body), class: "control-label" %>
    <div class="controls">
    	<%= f.text_area :body, :cols => 20, :rows => 4 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.submit(t(:save), :class =>'btn', :disable_with => t(:please_wait)) %>
  </div>
<% end %>
