<h3><%= t(:edit_password)%></h3>
<%= form_for @user, :url => profile_update_password_path do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%=t('errors.title')%></h4>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password, t(:password) %>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t(:confirmation) %>
    <%= f.text_field :password_confirmation %>
  </div>  
  <div class="actions">
    <%= f.submit(t(:save),class: 'btn', :disable_with => t(:please_wait)) %>
  </div>
<% end %>
<%= link_to t(:back), profile_show_path %>