<h3>Profile</h3>
<p>
  <b>User:</b>
  <%= @user.username %>
</p>
<p>
  <b>E-mail:</b>
  <%= @user.email %>
</p>
<p>
  <b>Manager:</b>
  <%= @manager ? @manager.name : 'No manager'%>
</p>
<h4>Options</h4>
<p>
  <b>Language:</b>
  <%= @user.language ? @user.language : 'EN'%>
</p>
<p>
  <b>List page size:</b>
  <%= @user.list_page_size ? @user.list_page_size : '25'%>
</p>
<%= link_to 'Edit', profile_edit_path %>