<h3><%= t(:profile)%></h3>
<p>
  <b><%= t(:username)%>:</b>
  <%= @user.username %>
</p>
<p>
  <b><%= t(:email)%>:</b>
  <%= @user.email %>
</p>
<p>
  <b><%= t(:phone)%>:</b>
  <%= @user.phone %>
</p>
<p>
  <b><%= t(:manager)%>:</b>
  <%= @manager ? @manager.name : t(:no_manager)%>
</p>
<h4><%= t(:settings)%></h4>
<p>
  <b><%= t(:language)%>:</b>
  <%= @user.language ? @user.language : 'EN'%>
</p>
<p>
  <b><%= t(:list_page_size)%>:</b>
  <%= @user.list_page_size ? @user.list_page_size : '25'%>
</p>
<%= link_to t(:edit), profile_edit_path %> | <%= link_to t(:edit_password), profile_edit_password_path %>