<%= form_for(@unit_of_measure) do |f| %>
  <% if @unit_of_measure.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@unit_of_measure.errors.count, "error") %> prohibited this unit_of_measure from being saved:</h4>

      <ul>
      <% @unit_of_measure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :external_key %>
    <%= f.text_field :external_key %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field form-inline">    
    <%= f.check_box :validity %>
    <%= f.label :validity %><br /><br />
  </div>  
  <div class="actions">
    <%= f.submit(class: 'btn') %>
  </div>
<% end %>
