<p>
  <b><%= t(:external_key)%>:</b>
  <%= @unit_of_measure.external_key %>
</p>
<p>
  <b><%= t(:name)%>:</b>
  <%= @unit_of_measure.name %>
</p>
<p>
  <b><%= t(:validity)%>:</b>
  <%= @unit_of_measure.validity ? t(:truth) : t(:lie) %>
</p>

<% if can? :manage, UnitOfMeasure %>
	<%= link_to t(:edit), edit_unit_of_measure_path(@unit_of_measure) %> |
	<%= link_to (@unit_of_measure.validity ? t(:make_void) : t(:make_valid)), unit_of_measure_path(@unit_of_measure), method: :delete, data: { confirm: t(:are_you_sure) } %> |
<% end %>
<%= link_to t(:back), unit_of_measures_path %>
