<p>
  <b><%= t(:external_key)%>:</b>
  <%= @unit_of_measure.external_key %>
</p>
<p>
  <b><%= t(:name)%>:</b>
  <%= @unit_of_measure.name %>
</p>


<% if can? :manage, UnitOfMeasure %><%= link_to t(:edit), edit_unit_of_measure_path(@unit_of_measure) %> |<% end %>
<%= link_to t(:back), unit_of_measures_path %>
