<p>
  <b><%= t(:external_key)%>:</b>
  <%= @unit_of_measure.external_key %>
</p>
<p>
  <b><%= t(:name)%>:</b>
  <%= @unit_of_measure.name %>
</p>
<p>
  <b><%= t(:validity)%>:</b>
  <%= @unit_of_measure.validity ? t(:truth) : t(:lie) %>
</p>

<% if can? :manage, UnitOfMeasure %>
	<%= link_to t(:edit), edit_unit_of_measure_path(@unit_of_measure) %> |
	<% if @unit_of_measure.validity? %>
  	<%= link_to(t(:make_void), set_invalid_unit_of_measure_path(@unit_of_measure), :method => :put, data: { confirm: t(:are_you_sure) }) %> |
  <% else %>
  	<%= link_to(t(:make_valid), set_valid_unit_of_measure_path(@unit_of_measure), :method => :put, data: { confirm: t(:are_you_sure) }) %> |
  <% end %> 
<% end %>
<%= link_to t(:back), unit_of_measures_path %>
