<%= form_for([@manager, @manager_shipping_address]) do |f| %>
  <% if @manager_shipping_address.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@manager_shipping_address.errors.count, "error") %> prohibited this manager_shipping_address from being saved:</h4>

      <ul>
      <% @manager_shipping_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shipping_address_id %>
    <%= f.select(:shipping_address_id, @shipping_addresses.collect  {|p| [ p.name, p.id ] }, :include_blank => "Select a shipping address") %>
  </div>
  <div class="actions">
    <%= f.submit(class: 'btn') %>
  </div>
<% end %>
