<h1>Listing manager_shipping_addresses</h1>

<table>
  <tr>
    <th>Manager</th>
    <th>Shipping address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manager_shipping_addresses.each do |manager_shipping_address| %>
  <tr>
    <td><%= manager_shipping_address.manager_id %></td>
    <td><%= manager_shipping_address.shipping_address_id %></td>
    <td><%= link_to 'Show', manager_shipping_address %></td>
    <td><%= link_to 'Edit', edit_manager_shipping_address_path(manager_shipping_address) %></td>
    <td><%= link_to 'Destroy', manager_shipping_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manager shipping address', new_manager_shipping_address_path %>
