<p>
  <b><%= t(:manager)%>:</b>
  <%= @manager_shipping_address.manager.name %>
</p>

<p>
  <b><%=t(:shipping_address)%>:</b>
  <%= @manager_shipping_address.shipping_address.name %>
</p>

<p>
  <b><%= t(:address)%>:</b>
  <%= @manager_shipping_address.shipping_address.address %>
</p>

<% if can? :manage, ManagerShippingAddress %><%= link_to t(:edit), edit_manager_manager_shipping_address_path(@manager, @manager_shipping_address) %> |<% end %>
<%= link_to t(:back), manager_manager_shipping_addresses_path(@manager) %>
