<h4>Export Orders:</h4>
<%=link_to "Download ZIP", :controller => "exchange", :action => "get_orders" %><br>
<h4>Import_handbooks:</h4>

<%= form_tag( {:action => 'upload'}, {:multipart => true} ) do %>
  <div class="field">
  	<%= file_field_tag "xml_file" , :class =>'btn' %>
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Import objects</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= label_tag(:customers, "Customers") %> </td>
				<td><%= check_box_tag(:customers) %></td>
			</tr>
			<tr>
				<td><%= label_tag(:shipping_addresses, "Shipping Addresses") %> </td>
				<td><%= check_box_tag(:shipping_addresses) %>	</td>
			</tr>
			<tr>
				<td><%= label_tag(:unit_of_measures, "Unit of measures") %> </td>
				<td><%= check_box_tag(:unit_of_measures) %>	</td>
			</tr>
			<tr>
				<td><%= label_tag(:price_list, "Price lists") %> </td>
				<td><%= check_box_tag(:price_list) %>	</td>
			</tr>
			<tr>
				<td><%= label_tag(:products, "Products") %> </td>
				<td><%= check_box_tag(:products) %>	</td>
			</tr>
			<tr>
				<td><%= label_tag(:product_unit_of_measures, "Product unit of measures") %> </td>
				<td><%= check_box_tag(:product_unit_of_measures) %>	</td>
			</tr>
			<tr>
				<td><%= label_tag(:price_list_lines, "price list lines") %> </td>
				<td><%= check_box_tag(:price_list_lines) %>	</td>
			</tr>
			<tr>
				<td><%= label_tag(:managers, "Managers") %> </td>
				<td><%= check_box_tag(:managers) %>	</td>
			</tr>			
			<tr>
				<td><%= label_tag(:warehouse, "Warehouses") %> </td>
				<td><%= check_box_tag(:warehouse) %>	</td>
			</tr>
		</tbody>
	</table>
  <div class="actions">
  	<%= submit_tag "Upload", :class =>'btn' %>    
  </div>
<% end %>