<h3><%= t(:list_product_prices)%></h3>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> <%= t(:filter)%>
</button>
<div id="demo" class="collapse">
	<br />
	<div class='well well-small'>		
		<%= search_form_for [@product, @search], class: "form-horizontal" do |f| %>		  
		  <div class="control-group">
		  	<%= f.label :price_list_name_cont, t(:price_list)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :price_list_name_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :price_eq, t(:price)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :price_eq, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">	  	
		  		<%= f.submit t(:search), class: 'btn btn-info' %>
		  		<button type="button" class='btn btn-info' id="q_reset"><%= t(:reset)%></button>	  	
		  </div>	
		<%end%>
	</div>
</div>

<table class="table table-striped table-hover">
	<thead>
	  <tr>
	    <th><%= sort_link @search, :product_name, t(:product) %></th>
	    <th><%= sort_link @search, :price_list_name, t(:price_list) %></th>
	    <th><%= sort_link @search, :price, t(:price) %></th>
	    <th colspan="3"><%= t(:actions)%></th>
	  </tr>
  </thead>
  <tbody>
		<% @product_prices.each do |product_price| %>
		  <tr>
		    <td><%= product_price.product.name %></td>
		    <td><%= product_price.price_list.name %></td>
		    <td><%= product_price.price %></td>
		    <td><%= link_to(product_product_price_path(@product, product_price)) do %><i class='icon-info-sign' title='<%= t(:show) %>'></i><%end%></td>
		    <% if can? :manage, ProductPrice %>
			    <td><%= link_to(edit_product_product_price_path(@product, product_price)) do%><i class='icon-edit' title='<%=t(:edit)%>'></i><%end%></td>
			    <td><%= link_to(product_product_price_path(@product, product_price), method: :delete, data: { confirm: t(:are_you_sure) }) do%><i class='icon-remove' title="<%=t(:remove)%>"></i><%end%></td>
			  <% end %>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= paginate @product_prices %>

<% if can? :create, ProductPrice %>
	<%= link_to t(:new_product_price), new_product_product_price_path(@product), class: 'btn' %>
<% end %>
