<p>
  <b><%= t(:product)%>:</b>
  <%= @product_price.product.name %>
</p>

<p>
  <b><%= t(:price_list)%>:</b>
  <%= @product_price.price_list.name %>
</p>

<p>
  <b><%= t(:price)%>:</b>
  <%= @product_price.price %>
</p>


<%= link_to t(:edit), edit_product_product_price_path(@product, @product_price) %> |
<%= link_to t(:back), product_product_prices_path(@product) %>
