<p>
  <b><%= t(:warehouse)%>:</b>
  <%= @manager_warehouse.warehouse.name %>
</p>

<p>
  <b><%=t(:address)%>:</b>
  <%= @manager_warehouse.warehouse.address %>
</p>

<p>
  <b><%= t(:validity)%>:</b>
  <%= @manager_warehouse.validity ? t(:truth) : t(:lie) %>
</p>

<% if can? :manage, ManagerWarehouse %>
	<%= link_to t(:edit), edit_manager_manager_warehouse_path(@manager, @manager_warehouse) %> |
	<% if @manager_warehouse.validity? %>
  	<%= link_to(t(:make_void), set_invalid_manager_manager_warehouse_path(@manager, @manager_warehouse), :method => :put, data: { confirm: t(:are_you_sure) }) %> |
  <% else %>
  	<%= link_to(t(:make_valid), set_valid_manager_manager_warehouse_path(@manager, @manager_warehouse), :method => :put, data: { confirm: t(:are_you_sure) }) %> |
  <% end %> 
<% end %>
<%= link_to t(:back), manager_manager_warehouse_path(@manager) %>
