<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this service from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :manager_id, 'Manager' %>
    <%= f.select(:manager_id, @managers.collect  {|p| [ p.name, p.id ]}, { :include_blank => true }) %>
  </div>
  <div>
  	<%= f.label :password %>
  	<%= f.password_field :password%>
  </div>
  <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <table class="table table-striped table-hover">
  	<thead>
  		<tr>
  			<th>Role</th>
  			<th>Enable</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>Admin</td>
  			<td><%= check_box_tag("admin") %></td>
  		</tr>
  		<tr>
  			<td>Supervisor</td>
  			<td><%= check_box_tag("supervisor") %></td>
  		</tr>
  		<tr>
  			<td>Manager</td>
  			<td><%= check_box_tag("manager") %></td>
  		</tr>
  	</tbody>
  </table>
  <div class="actions">
    <%= f.submit(:class =>'btn') %>
  </div>
<% end %>