<h3><%= t(:edit_password)%></h3>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this service from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  	<%= f.label :password, t(:password) %>
  	<%= f.password_field :password%>
  </div>
  <div><%= f.label :password_confirmation, t(:confirmation) %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit(t(:save), :class =>'btn') %>
  </div>
<%end%>  
  
<%= link_to t(:back), users_path %>