<p>
  <b><%= t(:username)%>:</b>
  <%= @user.username %>
</p>
<p>
  <b><%= t(:email)%>:</b>
  <%= @user.email %>
</p>
<p>
  <b><%= t(:manager)%>:</b>
  <%= @manager ? @manager.name : t(:no_manager) %>
</p>
<p>
  <b><%= t(:last_login)%>:</b>
  <%= @user.current_sign_in_at %>
</p>
<p>
  <b><%= t(:login_ip)%>:</b>
  <%= @user.current_sign_in_ip %>
</p>
<p>
  <b><%= t(:language)%>:</b>
  <%= @user.language ? @user.language : 'EN'%>
</p>
<p>
  <b><%= t(:list_page_size)%>:</b>
  <%= @user.list_page_size ? @user.list_page_size : '25'%>
</p>
<p>
  <b><%= t(:status)%>:</b>
  <%= @user.banned ? t(:banned) : t(:not_banned) %>
</p>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t(:role) %></th>
    </tr>
  </thead>
  <tbody>
    <% @user.roles.each do |role| %>  
    <tr>
    	<td><%= role.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t(:edit), edit_user_path(@user) %> |
<%= link_to t(:back), users_path %>
