<h3><%=t(:edit_manager)%></h3>

<%= render 'form' %>
<%= link_to t(:edit_manager_shipping_addresses), manager_manager_shipping_addresses_path(@manager), :class =>'btn' %><br><br>
<%= link_to t(:edit_manager_warehouses), manager_manager_warehouses_path(@manager), :class =>'btn' %><br><br>
<%= link_to t(:show), @manager %> |
<%= link_to t(:back), managers_path %>
