<h3>Listing managers</h3>
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> Filter:
</button>
<div id="demo" class="collapse">
	<br>
	<div class='well well-small'>	
		<%= search_form_for @search, class: "form-horizontal" do |f| %>
		  <div class="control-group">
		  	<%= f.label :name_cont, 'Name:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :name_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :external_key_cont, 'External_key:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :external_key_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">	  	
		  		<%= f.submit "Search", class: 'btn btn-info' %>
		  		<button type="button" class='btn btn-info' id="q_reset">Reset</button>	  	
		  </div>	
		<%end%>
	</div>
</div>
<table class="table table-striped table-hover">
	<thead>
	  <tr>
	  	<th><%= sort_link @search, :external_key, "External Key" %></th>
	    <th><%= sort_link @search, :name, "Name" %></th>
	    <th><%= sort_link @search, :validity, "Validity" %></th>
	    <th colspan="3">Actions</th>
	  </tr>
	</thead>
	<tbody>
		<% @managers.each do |manager| %>
		<tr>
			<td><%= manager.external_key %></td>
	    <td><%= manager.name %></td>
	    <td><i class=<%=manager.validity ? 'icon-ok-sign' : 'icon-remove-circle'%>></i></td>
	    <td><%= link_to 'Show', manager %></td>
	    <td><%= link_to 'Edit', edit_manager_path(manager) %></td>
	    <td><%= link_to 'Change validity', manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
		<% end %>
	</tbody>
</table>

<%= paginate @managers %>

<%= link_to 'New Manager', new_manager_path, :class =>'btn' %>
