<h1>Listing managers</h1>

<table class="table table-striped table-hover">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th colspan="3">Actions</th>
	  </tr>
	</thead>
	<tbody>
		<% @managers.each do |manager| %>
		<tr>
	    <td><%= manager.name %></td>
	    <td><%= link_to 'Show', manager %></td>
	    <td><%= link_to 'Edit', edit_manager_path(manager) %></td>
	    <td><%= link_to 'Destroy', manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Manager', new_manager_path, :class =>'btn' %>
