<p>
  <b>External key:</b>
  <%= @manager.external_key %>
</p>
<p>
  <b>Name:</b>
  <%= @manager.name %>
</p>
<p>
  <b>Warehouse:</b>
  <%= @manager.default_warehouse ? @manager.default_warehouse.name : 'No default warehouse' %>
</p>

<h4>Shipping addresses</h4>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> Filter:
</button>

<div id="demo" class="collapse">
	<br>
	<div class='well well-small'>
		<%= search_form_for [@manager, @search], class: "form-horizontal" do |f| %>
		  <div class="control-group">
		  	<%= f.label :shipping_address_name_cont, 'Name:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :shipping_address_name_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :shipping_address_address_cont, 'Address:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :shipping_address_address_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :shipping_address_external_key_cont, 'External_key:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :shipping_address_external_key_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">	  	
		  		<%= f.submit "Search", class: 'btn btn-info' %>
		  		<button type="button" class='btn btn-info' id="q_reset">Reset</button>	  	
		  </div>	
		<%end%>
	</div>
</div>


<table class="table table-striped table-hover">
  <thead>
    <tr>
    	<th><%= sort_link @search, :shipping_address_external_key, "External key" %></th>
      <th><%= sort_link @search, :shipping_address_name, "Name" %></th>
      <th><%= sort_link @search, :shipping_address_address, "Address" %></th>
    </tr>
  </thead>
  <tbody>
    <% @manager_shipping_addresses.each do |manager_shipping_address| %>  
    <tr>
    	<td><%= manager_shipping_address.shipping_address.external_key %></td>
      <td><%= manager_shipping_address.shipping_address.name %></td>
      <td><%= manager_shipping_address.shipping_address.address %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @manager_shipping_addresses %>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
