<%= form_for(@price_list) do |f| %>
  <% if @price_list.errors.any? %>
    <div class="alert alert-error">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%=t('errors.title')%></h4>
      <ul>
      <% @price_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t(:name) %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :external_key, t(:external_key) %>
    <%= f.text_field :external_key %>
  </div>
  <div class="field form-inline">    
    <%= f.check_box :validity %>
    <%= f.label :validity, t(:validity) %><br /><br />
  </div>
  <div class="actions">
    <%= f.submit(t(:save), class: 'btn', :disable_with => t(:please_wait)) %>
  </div>
<% end %>
