<% content_for :javascripts do %>
  <%= javascript_include_tag 'settings' %>
<% end %>
<h4><%= t(:settings)%></h4>
<% if @errors %>
    <div class="alert alert-error">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%=t('errors.title')%></h4>
      <ul>
      <% @errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<%= form_tag settings_path, :method => :put, :class => "form-horizontal" do  %> 
	<div class="tabbable">
	  <ul class="nav nav-tabs">
	  	<li class="active"><a href="#tab1" data-toggle="tab"><%= t(:general)%></a></li>
	    <li><a href="#tab2" data-toggle="tab"><%= t(:ftp_settings)%></a></li>
	    <li><a href="#tab3" data-toggle="tab"><%= t(:cron_settings)%></a></li>
	    <li><a href="#tab4" data-toggle="tab"><%= t(:mail_settings)%></a></li>
	    <li><a href="#tab5" data-toggle="tab"><%= t(:other_settings)%></a></li>
	  </ul>
	  <div class="tab-content">
	  	<div class="tab-pane active" id="tab1">
				<div class="control-group">
			    <%= label_tag :server_name, t(:server_name), class: "control-label" %>
			    <div class="controls">
			    	<%= text_field_tag :server_name, Settings.server_name, placeholder: t(:server_name) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :server_port, t(:server_port), class: "control-label" %>
			    <div class="controls">
			    	<%= text_field_tag :server_port, Settings.server_port, placeholder: t(:server_port) %>
			    </div>
			  </div>
			</div>
	    <div class="tab-pane" id="tab2">		
			  <div class="control-group">
			    <%= label_tag :ftp_server, t(:ftp_server), class: "control-label" %>
			    <div class="controls">
			    	<%= text_field_tag :ftp_server, Settings.ftp_server, placeholder: t(:ftp_server) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :ftp_user, t(:ftp_user), class: "control-label" %>
			    <div class="controls">
			    	<%= text_field_tag :ftp_user, Settings.ftp_user, placeholder: t(:ftp_user) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :ftp_password, t(:ftp_password), class: "control-label" %>
			    <div class="controls">
			    	<%= password_field_tag :ftp_password, Settings.ftp_password, placeholder: t(:ftp_password) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :ftp_passive, t(:ftp_passive), class: "control-label" %>
			    <div class="controls">
			    	<%= check_box_tag 'ftp_passive', true, Settings.ftp_passive %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :ftp_inbox_directory, t(:ftp_inbox_directory), class: "control-label" %>
			    <div class="controls">
			    	<%= text_field_tag :ftp_inbox_directory, Settings.ftp_inbox_directory, placeholder: t(:ftp_inbox_directory) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :ftp_outbox_directory, t(:ftp_outbox_directory), class: "control-label" %>
			    <div class="controls">
			    	<%= text_field_tag :ftp_outbox_directory, Settings.ftp_outbox_directory, placeholder: t(:ftp_outbox_directory) %>
			    </div>	
			  </div>			  
			</div>
			<div class="tab-pane" id="tab3">
				<div class="control-group">
			    <%= label_tag :upload_period, t(:upload_period), class: "control-label" %>
			    <div class="controls">
			    	<div class="input-append">
				    	<%= number_field_tag :upload_period, Settings.upload_period, placeholder: t(:upload_period), in: 1..59, step: 1 %>
			    	</div>
			    	 <div class="help-block"><i>* <%= t(:in_minutes)%></i></div>
			    </div>
			  </div>
			  <p>
			 		<%= link_to t(:update_crontab),  settings_update_crontab_path, method: :put , class: 'btn'%>
			  </p>
			</div>
			<div class="tab-pane" id="tab4">
				<div class="control-group">
			    <%= label_tag :email, t(:email), class: "control-label" %>
			    <div class="controls">
			    	<%= text_field_tag :email, Settings.email, placeholder: t(:email) %>
			    </div>
			  </div>
				<div class="control-group">					
			    <%= label_tag :mail_server, t(:mail_server), class: "control-label" %>
			    <div class="controls">
			    	<%= text_field_tag :mail_server, Settings.mail_server, placeholder: t(:mail_server) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :smtp_port, t(:smtp_port), class: "control-label" %>
			    <div class="controls">
			    	<%= text_field_tag :smtp_port, Settings.smtp_port, placeholder: t(:smtp_port) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :mail_user, t(:mail_user), class: "control-label" %>
			    <div class="controls">
			    	<%= text_field_tag :mail_user, Settings.mail_user, placeholder: t(:mail_user) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :mail_password, t(:mail_password), class: "control-label" %>
			    <div class="controls">
			    	<%= password_field_tag :mail_password, Settings.mail_password, placeholder: t(:mail_password) %>
			    </div>
			  </div>
			</div>
			<div class="tab-pane" id="tab5">
				<div class="control-group">
			    <%= label_tag :default_route_point_status_id, t(:default_route_point_status), class: "control-label" %>
			    <div class="controls">
			    	<%= select_tag :default_route_point_status_id, options_from_collection_for_select(@statuses, :id, :name, Settings.default_route_point_status_id), {:include_blank => true, 'data-placeholder' => t(:select_status)} %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :default_route_point_attended_status_id, t(:default_route_point_attended_status), class: "control-label" %>
			    <div class="controls">
			    	<%= select_tag :default_route_point_attended_status_id, options_from_collection_for_select(@statuses, :id, :name, Settings.default_route_point_attended_status_id), {:include_blank => true, 'data-placeholder' => t(:select_status)} %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :order_filename, t(:order_filename), class: "control-label" %>
			   	<div class="controls">
			    	<%= text_field_tag :order_filename, Settings.order_filename, placeholder: t(:order_filename) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :default_price_list_id, t(:default_price_list), class: "control-label" %>
			    <div class="controls">
			    	<%= select_tag :default_price_list_id, options_from_collection_for_select(@price_lists, :id, :name, Settings.default_price_list_id), {:include_blank => true, 'data-placeholder' => t(:select_price_list)} %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :photo_resolution, t(:photo_resolution), class: "control-label" %>
			    <div class="controls">
			    	<%= select_tag :photo_resolution, options_for_select(@photo_resolutions, @select_photo_resolution), {:include_blank => true, 'data-placeholder' => t(:select_photo_resolution)} %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= label_tag :message_pull_frequency, t(:message_pull_frequency), class: "control-label" %>
			    <div class="controls">
			    	<%= number_field_tag :message_pull_frequency, Settings.message_pull_frequency, placeholder: t(:message_pull_frequency), in: 1..60, step: 1 %>			    	
			    </div>
			  </div>
			</div>
			<div class="control-group">
			  <%= submit_tag(t(:save), :class =>'btn', :disable_with => t(:please_wait)) %>
			</div>
		</div>
	</div>
<% end %>
