<h3><%= t(:edit_customer)%></h3>

<%= render 'form' %>
<%= link_to t(:edit_shipping_addresses), customer_shipping_addresses_path(@customer), :class =>'btn' %><br><br>
<%= link_to t(:show), @customer %> |
<%= link_to t(:back), customers_path %>
