<%= form_for([@product, @product_unit_of_measure]) do |f| %>
  <% if @product_unit_of_measure.errors.any? %>
    <div class="alert alert-error">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%=t('errors.title')%></h4>
      <ul>
      <% @product_unit_of_measure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit_of_measure_id, t(:unit_of_measure) %>
    <%= f.select(:unit_of_measure_id, @unit_of_measures.collect {|p| [p.name, p.id]}, :include_blank => t(:select_unit_of_measure)) %>
  </div>
  <div class="field">
    <%= f.label :count_in_base_unit, t(:count_in_base_unit) %>
    <%= f.number_field :count_in_base_unit, :min => 0, :step => 0.01 %>
  </div>
  <div class="field form-inline">    
    <%= f.check_box :validity %>
    <%= f.label :validity, t(:validity) %><br /><br />
  </div>  
  <div class="field form-inline">    
    <%= f.check_box :base %>
    <%= f.label :base , t(:base)%><br /><br />
  </div>
  <div class="actions">
    <%= f.submit(t(:save), class: 'btn', :disable_with => t(:please_wait)) %>
  </div>
<% end %>
