<p>
  <b><%= t(:product)%>:</b>
  <%= @product_unit_of_measure.product.name %>
</p>

<p>
  <b><%= t(:unit_of_measure)%>:</b>
  <%= @product_unit_of_measure.unit_of_measure.name %>
</p>

<p>
  <b><%= t(:base)%>:</b>
  <%= @product_unit_of_measure.base ? t(:truth) : t(:lie) %>
</p>
<p>
  <b><%= t(:count_in_base_unit)%>:</b>
  <%= @product_unit_of_measure.count_in_base_unit %>
</p>
<p>
  <b><%= t(:validity)%>:</b>
  <%= @product_unit_of_measure.validity ? t(:truth) : t(:lie) %>
</p>


<% if can? :manage, ProductUnitOfMeasure %>
	<%= link_to t(:edit), edit_product_product_unit_of_measure_path(@product, @product_unit_of_measure) %> |
	<%= link_to (@product_unit_of_measure.validity ? t(:make_void) : t(:make_valid)), product_product_unit_of_measure_path(@product, @product_unit_of_measure), method: :delete, data: { confirm: t(:are_you_sure) } %> |
<% end %>
<%= link_to t(:back), product_product_unit_of_measures_path(@product) %>
