<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>  
  <div class="field">
    <%= f.label :shipping_address_id, 'Shipping_Address' %><br />
    <%= f.select(:shipping_address_id, @shipping_addresses.collect  {|p| [ p.name, p.id ] }) %>
  </div>
  <div class="field">
    <%= f.label :manager_id, 'Manager' %><br />
    <%= f.select(:manager_id, @managers.collect  {|p| [ p.name, p.id ] }) %>
  </div>
  <div class="actions">
    <%= f.submit(:class =>'btn') %>
  </div>
<% end %>
