<%= render :partial => 'order', :handlers => [:erb], :formats => [:js] %>

  <% if @order.errors.any? %>
    <div class="alert alert-error">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%=t('errors.title')%></h4>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for @order, :html => { :class => "form-horizontal"} do |f| %>
	<div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#tab1" data-toggle="tab"><%= t(:details)%></a></li>
	    <li><a href="#tab2" data-toggle="tab"><%= t(:products)%></a></li>
	  </ul>
	  <div class="tab-content">
	    <div class="tab-pane active" id="tab1">	    
		    <div class="control-group">
			    <%= f.label :date, t(:datetime), class: "control-label" %>
			    <div class="controls">
				    <div class="input-append">
					    <%= f.text_field :date, :placeholder => t(:select_datetime), :readonly => true%>
					    <span class="add-on">
					      <i class="icon-calendar"></i>
					    </span>
					  </div>
					</div>
			  </div>
			  <div class="control-group">
			    <%= f.label :shipping_date, t(:shipping_date), class: "control-label" %>
			    <div class="controls">
				    <div class="input-append date datetimepicker">
					    <%= f.text_field :shipping_date, :placeholder => t(:select_datetime)%>
					    <span class="add-on">
					      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
					      </i>
					    </span>
					  </div>
					</div>
			  </div>
			  <%= f.hidden_field :route_point_id %>
			  <div class="control-group">
			    <%= label_tag :customer_id, t(:customer), class: "control-label" %>
			    <div class="controls">
			    	<%= select_tag(:customer_id, options_from_collection_for_select(@customers, "id", "name", @select_customer_id), {:include_blank => true, 'data-placeholder' => t(:select_customer), :onchange => "update_shipping_addresses(this.value)"}) %>
			    	<div id="customer_debt">
			    		<i>
			    		</i> 
			    	</div>
			  	</div>
			 	</div>
			  <div id="shipping_addresses" class="control-group">
			  	<%= f.label :shipping_address_id, t(:shipping_address), class: "control-label" if @shipping_addresses %>
			  	<div class="controls">
			  		<%= select_tag("order[shipping_address_id]", options_from_collection_for_select(@shipping_addresses, "id", "address", @select_shipping_address_id), {:include_blank => true, 'data-placeholder' => t(:select_shipping_address)}) if @shipping_addresses %>
			  	</div>	  
				</div>
			  <div class="control-group">
			    <%= f.label :warehouse_id, t(:warehouse), class: "control-label" %>
			    <div class="controls">
			    	<%= f.select(:warehouse_id, @warehouses.collect  {|p| [ p.name, p.id ] }, {:include_blank => true}, {'data-placeholder' => t(:select_warehouse)}) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= f.label :price_list_id, t(:price_list), class: "control-label" %>
			    <div class="controls">
			    	<%= f.select(:price_list_id, @price_lists.collect  {|p| [ p.name, p.id ] }, {:include_blank => true}, {'data-placeholder' => t(:select_price_list), :onchange => 'onPriceListChanged()'}) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= f.label :manager_id, t(:manager), class: "control-label" %>
			    <div class="controls">
			    	<%= f.select(:manager_id, options_from_collection_for_select(@managers, "id", "name", @select_manager_id), {:include_blank => true}, {'data-placeholder' => t(:select_manager)}) %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= f.label :comment, t(:comment), class: "control-label" %>
			    <div class="controls">
			    	<%= f.text_area :comment, :cols => 20, :rows => 4 %>
			    </div>
			  </div>
			  <div class="control-group">
			    <%= f.label :complete, t(:order_complete), class: "control-label" %>
			    <div class="controls">
			    	<%= f.check_box :complete %>
			    </div>
			  </div>
	    </div>	
	    <div class="tab-pane" id="tab2">
	    	<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
				  <i class="icon-filter icon-white"></i> <%= t(:filter)%>
				</button>
				<div id="demo" class="collapse">
					<br />
					<div class='well well-small'>					  
					  <div class="tree">
							<ul>
								<li>
									<a><%= t(:category) %></a>
									<ul>									
										<%= render :partial => "category", :collection => Category.roots %>
									</ul>
								</li>
							</ul>
						</div>						
						<button type="button" class='btn btn-info' id="search" onclick='onCategoryChanged()'><%= t(:filter)%></button>
						<button type="button" class='btn btn-info' id="reset" onclick='onCategoryReset()'><%= t(:reset)%></button>
					</div>						 
			  </div>				    	
	    	<table  class="table table-striped table-hover">
					<thead>
					  <tr>
					    <th><%= t(:product) %></th>
					    <th><%= t(:unit_of_measure) %></th>
					    <th><%= t(:quantity) %></th>					    
					    <th><%= t(:price) %></th>
					    <th><%= t(:count_in_base_unit) %></th>
					    <th><%= t(:remainder) %></th>
					    <th><%= t(:amount) %></th>
					    <th><%= t(:actions) %></th>
					  </tr>
					</thead>
					<tbody id="table">      
						<%= f.fields_for :order_items do |order_item| %>
							<%= render 'order_item_fields', :f => order_item %>						
						<% end %>
					</tbody>
				</table>
				<p ><b><%= t(:order_amount)%>: </b><span class="order_amount"><%= @order.amount %></span></p>
				
				<p><%= button_tag t(:add), :type => 'button', :class =>'btn', :onclick => "add_order_item()" %></p>
						  
	    </div>
	  </div>
	  <div>
	    <%= f.submit(t(:save), :class =>'btn', :disable_with => t(:please_wait)) %>
	  </div>
	</div>
<% end %> 
<div id="order_item_template" hidden="true" style="display:none;">
	
</div>
  
  

