<% content_for :javascripts do %>
  <%= javascript_include_tag 'orders' %>
<% end %>

<h3>Listing orders</h3>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> Filter:
</button>
<div id="demo" class="collapse">
	<br>
	<div class='well well-small'>		
		<%= search_form_for @search, class: "form-horizontal" do |f| %>
		
		  <div class="control-group">
		  	<%= f.label :date_gt, 'Date period:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :date_gt, id: 'date_gt' , class: 'input-small search-field'%>
		  		- <%= f.text_field :date_lt, id: 'date_lt' , class: 'input-small search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :shipping_address_name_cont, 'Shipping address:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :shipping_address_name_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :manager_id_eq, 'Manager:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.select :manager_id_eq, @managers.collect  {|p| [ p.name, p.id ]}, {:include_blank => "Select a manager"}, {:class => 'search-field'} %>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :warehouse_id_eq, 'Warehouse:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.select :warehouse_id_eq, @warehouses.collect  {|p| [ p.name, p.id ]}, {:include_blank => "Select a warehouse"}, {:class => 'search-field'} %>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :price_list_id_eq, 'Price list:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.select :price_list_id_eq, @price_lists.collect  {|p| [ p.name, p.id ]}, {:include_blank => "Select a price list"}, {:class => 'search-field'} %>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :exported_at_gt, 'Exported period:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :exported_at_gt, id: 'exported_at_gt' , class: 'input-small search-field'%>
		  		- <%= f.text_field :exported_at_lt, id: 'exported_at_lt' , class: 'input-small search-field'%></div>
		  	</div>
		  <div class="control-group">	  	
		  		<%= f.submit "Search", class: 'btn btn-info' %>	
		  		<button type="button" class='btn btn-info' id="q_reset">Reset</button>  	
		  </div>	
		<%end%>
	</div>
</div>
<table class="table table-striped table-hover">
	<thead>
	  <tr>
	    <th><%= sort_link @search, :date, "Date" %></th>
	    <th><%= sort_link @search, :shipping_address_name, "Shipping address" %></th>
	    <th><%= sort_link @search, :manager_name, "Manager" %></th>
	    <th><%= sort_link @search, :warehouse_name, "Warehouse" %></th>
	    <th><%= sort_link @search, :price_list_name, "Price list" %></th>
	    <th><%= sort_link @search, :exported_at, "Exported at" %></th>
	    <th colspan="4">Actions</th>
	  </tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
	  <tr <%='class=success' if order.exported_at %>>
	    <td><%= order.date %></td>
	    <td><%= order.shipping_address.name %></td>
	    <td><%= order.manager.name %></td>
	    <td><%= order.warehouse.name %></td>
	    <td><%= order.price_list.name %></td>
	    <td><%= order.exported_at ? order.exported_at.strftime("%T %d-%m-%y") : 'Not exported'%></td>
	    <td><%= link_to 'Export again', export_again_order_path(order), :method => :put %></td>
	    <td><%= link_to 'Show', order %></td>
	    <td><%= link_to 'Edit', edit_order_path(order) %></td>
	    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
		<% end %>
	</tbody>
</table>

<%= paginate @orders %>

<%=link_to "Download XML ", :controller => "orders", :action => "generate_xml" %> | 
<%=link_to "View XML", :format => :xml%>
<br /><br />

<%= link_to 'New Order', new_order_path, class: 'btn' %>