<p>
  <b><%= t(:date)%>:</b>
  <%= @order.date %>
</p>
<p>
  <b><%= t(:shipping_address)%>:</b>
  <%= @order.shipping_address.name %>
</p>
<p>
  <b><%= t(:manager)%>:</b>
  <%= @order.manager.name %>
</p>
<p>
  <b><%= t(:warehouse)%>:</b>
  <%= @order.warehouse.name %>
</p>
<p>
  <b><%= t(:price_list)%>:</b>
  <%= @order.price_list.name %>
</p>
<p>
  <b><%= t(:comment)%>:</b>
  <%= @order.comment %>
</p>

<h4><%= t(:order_items)%></h4>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sort_link @search, :product_name, t(:product) %></th>
      <th><%= sort_link @search, :unit_of_measure_name, t(:unit_of_measure) %></th>
      <th><%= sort_link @search, :quantity, t(:quantity) %></th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>  
    <tr>
      <td><%= order_item.product.name %></td>
      <td><%= order_item.unit_of_measure.name %></td>
      <td><%= order_item.quantity %></td>
    </tr>
    <%end%>
  </tbody>
</table>
<%= paginate @order_items %>

<% if can? :manage, Order %><%= link_to t(:edit), edit_order_path(@order) %> |<% end %>
<%= link_to t(:back), orders_path %>