<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @order.date %>
</p>

<p>
  <b>Customer:</b>
  <%= @order.customer_id %>
</p>

<p>
  <b>Manager:</b>
  <%= @order.manager_id %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
