<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @order.date %>
</p>

<p>
  <b>Shipping address:</b>
  <%= @order.shipping_address.name %>
</p>

<p>
  <b>Manager:</b>
  <%= @order.manager.name %>
</p>
<h4>Order items</h4>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Product</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |order_item| %>  
    <tr>
      <td><%= order_item.product.name %></td>
      <td><%= order_item.quantity %></td>
    </tr>
    <%end%>
  </tbody>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
