<%= form_for([@customer, @shipping_address]) do |f| %>
  <% if @shipping_address.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@shipping_address.errors.count, "error") %> prohibited this shipping_address from being saved:</h4>

      <ul>
      <% @shipping_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field form-inline">    
    <%= f.check_box :validity %>
    <%= f.label :validity %><br /><br />
  </div>
  <div class="actions">
    <%= f.submit(:class =>'btn') %>
  </div>
<% end %>
