<h1>Listing shipping_addresses</h1>
<table class="table table-striped table-hover">
	<thead>
	  <tr>
	    <th>Customer</th>
	    <th>Name</th>
	    <th>Address</th>
	    <th colspan="3"></th>
	  </tr>
  </thead>
	<tbody>
		<% @shipping_addresses.each do |shipping_address| %>
		  <tr>
		    <td><%= shipping_address.customer.name %></td>
		    <td><%= shipping_address.name %></td>
		    <td><%= shipping_address.address %></td>
		    <td><%= link_to 'Show', customer_shipping_address_path(@customer, shipping_address) %></td>		    
		    <td><%= link_to 'Edit', edit_customer_shipping_address_path(@customer, shipping_address) %></td>
		    <td><%= link_to 'Destroy', customer_shipping_address_path(@customer, shipping_address), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Shipping address', new_customer_shipping_address_path(@customer), :class =>'btn' %><br /><br />
<%= link_to 'Back', customer_path(@customer) %> | <%= link_to 'Back to Customers', customers_path %>
	