<p>
  <b><%= t(:customer)%>:</b>
  <%= @shipping_address.customer.name %>
</p>

<p>
  <b><%= t(:shipping_address)%>:</b>
  <%= @shipping_address.name %>
</p>

<p>
  <b><%= t(:address)%>:</b>
  <%= @shipping_address.address %>
</p>


<% if can? :manage, ShippingAddress %><%= link_to t(:edit), edit_customer_shipping_address_path(@customer, @shipping_address) %> |<% end %>
<%= link_to t(:back), customer_shipping_addresses_path(@customer) %>
