<p id="notice"><%= notice %></p>

<p>
  <b>Customer name:</b>
  <%= @shipping_address.customer.name %>
</p>

<p>
  <b>Name:</b>
  <%= @shipping_address.name %>
</p>

<p>
  <b>Address:</b>
  <%= @shipping_address.address %>
</p>


<%= link_to 'Edit', edit_customer_shipping_address_path(@customer, @shipping_address) %> |
<%= link_to 'Back', customer_shipping_addresses_path(@customer) %>
