<p>
  <b><%= t(:customer)%>:</b>
  <%= @shipping_address.customer.name %>
</p>

<p>
  <b><%= t(:shipping_address)%>:</b>
  <%= @shipping_address.name %>
</p>

<p>
  <b><%= t(:address)%>:</b>
  <%= @shipping_address.address %>
</p>


<% if can? :manage, ShippingAddress %>
	<%= link_to t(:edit), edit_customer_shipping_address_path(@customer, @shipping_address) %> |
		<% if @shipping_address.validity? %>
  	<%= link_to(t(:make_void), set_invalid_customer_shipping_address_path(@customer, @shipping_address), :method => :put, data: { confirm: t(:are_you_sure) }) %> |
  <% else %>
  	<%= link_to(t(:make_valid), set_valid_customer_shipping_address_path(@customer, @shipping_address), :method => :put, data: { confirm: t(:are_you_sure) }) %> |
  <% end %> 
<% end %>
<%= link_to t(:back), customer_shipping_addresses_path(@customer) %>
