<p>
  <b><%= t(:datetime)%>:</b>
  <%= @mobile_client.created_at %>
</p>
<p>
  <b><%= t(:client_type)%>:</b>
  <%= @mobile_client.client_type %>
</p>
<p>
  <b><%= t(:version)%>:</b>
  <%= @mobile_client.version %>
</p>
<p>
  <b><%= t(:file) %>: </b>
  <%= link_to t(:download), root_path + @mobile_client.file %>
</p>

<% if can? :manage, MobileClient %>
	<%= link_to t(:edit), edit_mobile_client_path(@mobile_client) %> |
	<%= link_to t(:destroy), mobile_client_path(@mobile_client), method: :delete, data: { confirm: t(:are_you_sure) } %> |
<% end %>
<%= link_to t(:back), mobile_clients_path %>
