<%= form_for([@price_list, @price_list_line]) do |f| %>
  <% if @price_list_line.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@price_list_line.errors.count, "error") %> prohibited this price_list_line from being saved:</h4>

      <ul>
      <% @price_list_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id, t(:product) %>
    <%= f.select :product_id, @products.collect {|p| [p.name, p.id]}, {:include_blank => t(:select_product)} %>
  </div>
  <div class="field">
    <%= f.label :price, t(:price) %>
    <%= f.number_field :price, min: 0, step: 0.01 %>
  </div>
  <div class="actions">
    <%= f.submit(t(:save), class: 'btn') %>
  </div>
<% end %>
