<p>
  <b>Price list:</b>
  <%= @price_list_line.price_list.name %>
</p>

<p>
  <b>Product:</b>
  <%= @price_list_line.product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @price_list_line.price %>
</p>


<%= link_to 'Edit', edit_price_list_price_list_line_path(@price_list, @price_list_line) %> |
<%= link_to 'Back', price_list_price_list_lines_path(@price_list) %>
