<p>
  <b><%= t(:price_list)%>:</b>
  <%= @price_list_line.price_list.name %>
</p>

<p>
  <b><%= t(:product)%>:</b>
  <%= @price_list_line.product.name %>
</p>

<p>
  <b><%= t(:price)%>:</b>
  <%= @price_list_line.price %>
</p>


<%= link_to t(:edit), edit_price_list_price_list_line_path(@price_list, @price_list_line) %> |
<%= link_to t(:back), price_list_price_list_lines_path(@price_list) %>
