<p>
  <b><%= t(:product)%>:</b>
  <%= @price_list_line.product.name %>
</p>

<p>
  <b><%= t(:price_list)%>:</b>
  <%= @price_list_line.price_list.name %>
</p>

<p>
  <b><%= t(:price)%>:</b>
  <%= @price_list_line.price %>
</p>
<p>
  <b><%= t(:validity)%>:</b>
  <%= @price_list_line.validity ? t(:truth) : t(:lie) %>
</p>

<% if can? :manage, ProductPrice %>
	<%= link_to t(:edit), edit_price_list_price_list_line_path(@price_list, @price_list_line) %> |
	<%= link_to (@price_list_line.validity ? t(:make_void) : t(:make_valid)), price_list_price_list_line_path(@price_list, @price_list_line), method: :delete, data: { confirm: t(:are_you_sure) } %> |
<% end %>
<%= link_to t(:back), price_list_price_list_lines_path(@price_list) %>
