<h3>Listing route_points</h3>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> Filter:
</button>

<div id="demo" class="collapse">
	<br>
	<div class='well well-small'>
		<%= search_form_for [@route, @search], class: "form-horizontal" do |f| %>
		  <div class="control-group">
		  	<%= f.label :shipping_address_name_cont, 'Name:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :shipping_address_name_cont, class: 'input-medium'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :shipping_address_address_cont, 'Address:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :shipping_address_address_cont, class: 'input-medium'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :status_name_cont, 'Status:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :status_name_cont, class: 'input-medium'%>
		  	</div>
		  </div>
		  <div class="control-group">	  	
		  		<%= f.submit "Search", class: 'btn btn-info' %>	  	
		  </div>	
		<%end%>
	</div>
</div>

<table class="table table-striped table-hover">
	<thead>
	  <tr>	  	
	    <th><%= sort_link @search, :shipping_address_name, "Shipping address" %></th>
	    <th><%= sort_link @search, :shipping_address_address, "Address" %></th>
	    <th><%= sort_link @search, :status_name, "Status" %></th>
	    <th colspan="3">Actions</th>
	  </tr>
	</thead>
	<tbody>
		<% @route_points.each do |route_point| %>
		  <tr>		  	
		    <td><%= route_point.shipping_address.name %></td>
		    <td><%= route_point.shipping_address.address %></td>
		    <td><%= route_point.status.name %></td>
		    <td><%= link_to 'Show', route_route_point_path(@route, route_point) %></td>
		    <td><%= link_to 'Edit', edit_route_route_point_path(@route, route_point) %></td>
		    <td><%= link_to 'Destroy', route_route_point_path(@route, route_point), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= paginate @route_points %>

<%= link_to 'New Route point', new_route_route_point_path(@route), class: 'btn' %><br /><br />
<%= link_to 'Back', route_path(@route) %> | <%= link_to 'Back to Routes', routes_path %>