<p>
  <b><%= t(:shipping_address)%>:</b>
  <%= @route_point.shipping_address.name %>
</p>

<p>
  <b><%= t(:orders_count)%>:</b>
  <%= @route_point.orders.count %>
</p>

<p>
  <b><%= t(:status)%>:</b>
  <%= @route_point.status.name %>
</p>

<%= link_to t(:edit), edit_route_route_point_path(@route, @route_point) %> |
<%= link_to t(:back), route_route_points_path(@route) %>
