<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @route_point.customer_id %>
</p>

<p>
  <b>Status:</b>
  <%= @route_point.status_id %>
</p>

<p>
  <b>Route:</b>
  <%= @route_point.route_id %>
</p>


<%= link_to 'Edit', edit_route_point_path(@route_point) %> |
<%= link_to 'Back', route_points_path %>
