<p id="notice"><%= notice %></p>

<p>
  <b>Shipping address:</b>
  <%= @route_point.shipping_address.name %>
</p>

<p>
  <b>Status:</b>
  <%= @route_point.status.name %>
</p>

<%= link_to 'Edit', edit_route_route_point_path(@route, @route_point) %> |
<%= link_to 'Back', route_route_points_path(@route) %>
