<%= form_for([@order, @order_item]) do |f| %>
  <% if @order_item.errors.any? %>
    <div class="alert alert-error">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%=t('errors.title')%></h4>
      <ul>
      <% @order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id , t(:product) %>
    <%= f.select :product_id , @products.collect  {|p| [ p.name, p.id ] }, {:include_blank => t(:select_product)}, {:onchange => "update_product_unit_of_measures(this.value)"} %>
  </div>  
  <div id="product_unit_of_measures" class="field">  
	</div>
  <div class="field">
    <%= f.label :quantity, t(:quantity) %>
    <%= f.number_field :quantity, min: 1, step: 1  %>
  </div>
  <div class="actions">
    <%= f.submit(t(:save), class: 'btn') %>
  </div>
<% end %>
