<%= form_for([@order, @order_item]) do |f| %>
  <% if @order_item.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@order_item.errors.count, "error") %> prohibited this order_item from being saved:</h4>

      <ul>
      <% @order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id , 'Product' %>
    <%= f.select :product_id , options_from_collection_for_select(@products, "id", "name"), {:include_blank => "Select a product"}, {:onchange => "update_product_unit_of_measures(this.value)"} %>
  </div>  
  <div id="product_unit_of_measures" class="field">  
	</div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, min: 1, step: 1  %>
  </div>
  <div class="actions">
    <%= f.submit(class: 'btn') %>
  </div>
<% end %>
