<% content_for :javascripts do %>
  <%= javascript_include_tag 'order_items' %>
<% end %>
<h3><%= t(:edit_order_item)%></h3>

<%= render 'form' %>

<%= link_to t(:show), order_order_item_path(@order, @order_item) %> |
<%= link_to t(:back), order_order_items_path(@order) %>
