<h3><%=t(:listing_order_items)%></h3>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> <%=t(:filter)%>
</button>
<div id="demo" class="collapse">
	<br>
	<div class='well well-small'>
		<%= search_form_for [@order, @search], class: "form-horizontal" do |f| %>
		  <div class="control-group">
		  	<%= f.label :product_name_cont, t(:product)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :product_name_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :unit_of_measure_name_cont, t(:unit_of_measure)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :unit_of_measure_name_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :quantity_eq, t(:quantity)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :quantity_eq, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">	  	
		  		<%= f.submit t(:search), class: 'btn btn-info' %>
		  		<button type="button" class='btn btn-info' id="q_reset"><%=t(:reset)%></button>	  	
		  </div>	
		<%end%>
	</div>
</div>

<table class="table table-striped table-hover">
	<thead>
	  <tr>
	    <th><%= sort_link @search, :product_name, t(:product) %></th>
	    <th><%= sort_link @search, :unit_of_measure_name, t(:unit_of_measure) %></th>
	    <th><%= sort_link @search, :uquantity, t(:quantity) %></th>
	    <th colspan="3"><%=t(:actions)%></th>
	  </tr>
	</thead>
	<tbody>
		<% @order_items.each do |order_item| %>
		  <tr>
		    <td><%= order_item.product.name %></td>
		    <td><%= order_item.unit_of_measure.name %></td>
		    <td><%= order_item.quantity %></td>    
		    <td><%= link_to(order_order_item_path(@order, order_item)) do %><i class='icon-info-sign' title='<%= t(:show) %>'></i><%end%></td>
		    <td><%= link_to(edit_order_order_item_path(@order, order_item)) do%><i class='icon-edit' title='<%=t(:edit)%>'></i><%end%></td>
		    <td><%= link_to(order_order_item_path(@order, order_item), method: :delete, data: { confirm: t(:are_you_sure) }) do%><i class='icon-remove' title="<%=t(:remove)%>"></i><%end%></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= paginate @order_items %>

<%= link_to t(:new_order_item), new_order_order_item_path(@order), class: 'btn' %><br /><br />
<%= link_to t(:back), order_path(@order) %> | <%= link_to t(:back_to_orders), orders_path %>