<h3>Listing order_items</h3>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> Filter:
</button>
<div id="demo" class="collapse">
	<br>
	<div class='well well-small'>
		<%= search_form_for [@order, @search], class: "form-horizontal" do |f| %>
		  <div class="control-group">
		  	<%= f.label :product_name_cont, 'Product name:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :product_name_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :unit_of_measure_name_cont, 'Unit of measure:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :unit_of_measure_name_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :quantity_eq, 'Quantity:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :quantity_eq, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">	  	
		  		<%= f.submit "Search", class: 'btn btn-info' %>
		  		<button type="button" class='btn btn-info' id="q_reset">Reset</button>	  	
		  </div>	
		<%end%>
	</div>
</div>

<table class="table table-striped table-hover">
	<thead>
	  <tr>
	    <th><%= sort_link @search, :product_name, "Product" %></th>
	    <th><%= sort_link @search, :unit_of_measure_name, "Unit of measure" %></th>
	    <th><%= sort_link @search, :uquantity, "Quantity" %></th>
	    <th colspan="3">Actions</th>
	  </tr>
	</thead>
	<tbody>
		<% @order_items.each do |order_item| %>
		  <tr>
		    <td><%= order_item.product.name %></td>
		    <td><%= order_item.unit_of_measure.name %></td>
		    <td><%= order_item.quantity %></td>    
		    <td><%= link_to 'Show', order_order_item_path(@order, order_item) %></td>
		    <td><%= link_to 'Edit', edit_order_order_item_path(@order, order_item) %></td>
		    <td><%= link_to 'Destroy', order_order_item_path(@order, order_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= paginate @order_items %>

<%= link_to 'New Order item', new_order_order_item_path(@order), class: 'btn' %><br /><br />
<%= link_to 'Back', order_path(@order) %> | <%= link_to 'Back to Orders', orders_path %>