<p>
  <b><%=t(:product)%>:</b>
  <%= @order_item.product.name %>
</p>
<p>
  <b><%=t(:unit_of_measure)%>:</b>
  <%= @order_item.unit_of_measure.name %>
</p>

<p>
  <b><%=t(:quantity)%>:</b>
  <%= @order_item.quantity %>
</p>


<% if can? :manage, OrderItem %>
	<%= link_to t(:edit), edit_order_order_item_path(@order, @order_item) %> |
	<%= link_to t(:destroy), order_order_item_path(@order, @order_item), method: :delete, data: { confirm: t(:are_you_sure) } %> |
<% end %>
<%= link_to t(:back), order_order_items_path(@order) %>
