<%= form_for(@template_route) do |f| %>
  <% if @template_route.errors.any? %>
    <div class="alert alert-error">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%=t('errors.title')%></h4>
      <ul>
      <% @template_route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manager_id, t(:manager) %>
    <%= f.select(:manager_id, @managers.collect  {|p| [ p.name, p.id ]}, :include_blank => t(:select_manager)) %>
  </div>
  <div class="field">
    <%= f.label :day_of_week, t(:day_of_week) %>
    <%= f.select(:day_of_week, @days_of_week.collect  {|p| [ day_name(p), p ]}, :include_blank => t(:select_day_of_week)) %>
  </div>
  <div class="actions">
    <%= f.submit(t(:save), class: 'btn') %>
  </div>
<% end %>
