<h3>Listing template_routes</h3>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> Filter:
</button>

<div id="demo" class="collapse">
	<br>
	<div class='well well-small'>
		<%= search_form_for @search, class: "form-horizontal" do |f| %>
		  <div class="control-group">
		  	<%= f.label :manager_id_eq, 'Manager name:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.select :manager_id_eq, @managers.collect  {|p| [ p.name, p.id ]}, {:include_blank => "Select a manager"}, {:class => 'search-field'} %>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :day_of_week_eq, 'Day of week:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.select :day_of_week_eq, @days_of_week.collect  {|p| [ day_name(p), p ]},{:include_blank => "Select a day of week"},{:class => 'search-field'} %>
		  	</div>
		  </div>
		  <div class="control-group">	  	
		  		<%= f.submit "Search", class: 'btn btn-info' %>
		  		<button type="button" class='btn btn-info' id="q_reset">Reset</button>	  	
		  </div>	
		<%end%>
	</div>
</div>

<table class="table table-striped table-hover">
	<thead>
	  <tr>
	    <th><%= sort_link @search, :manager_name, "Manager" %></th>
	    <th><%= sort_link @search, :day_of_week, "Day of week" %></th>
	    <th>Points Count</th>
	    <th colspan="3">Actions</th>
	  </tr>
	</thead>
	<tbody>
		<% @template_routes.each do |template_route| %>
		  <tr>
		    <td><%= template_route.manager.name %></td>
		    <td><%= day_name(template_route.day_of_week) %></td>
		    <td><%= template_route.template_route_points.count%></td>
		    <td><%= link_to 'Show', template_route %></td>
		    <td><%= link_to 'Edit', edit_template_route_path(template_route) %></td>
		    <td><%= link_to 'Destroy', template_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= paginate @template_routes %>

<%= link_to 'New Template route', new_template_route_path, class: 'btn' %>
