<p>
  <b><%= t(:manager)%>:</b>
  <%= @template_route.manager.name %>
</p>

<p>
  <b><%= t(:day_of_week)%>:</b>
  <%= day_name(@template_route.day_of_week) %>
</p>

<h4><%= t(:template_route_points)%>s</h4>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sort_link @search, :shipping_address_name, t(:shipping_address) %></th>
      <th><%= sort_link @search, :shipping_address_address, t(:address) %></th>
    </tr>
  </thead>
  <tbody>
    <% @template_route_points.each do |template_route_points| %>  
    <tr>
      <td><%= template_route_points.shipping_address.name %></td>
      <td><%= template_route_points.shipping_address.address %></td>
    </tr>
    <%end%>
  </tbody>
</table>

<%= paginate @template_route_points %>

<% if can? :manage, TemplateRoute %><%= link_to t(:edit), edit_template_route_path(@template_route) %> |<% end %>
<%= link_to t(:back), template_routes_path %>
