<% content_for :javascripts do %>
  <%= javascript_include_tag 'route_point_photos' %>
<% end %>
<h3><%=t(:listing_route_point_photos)%></h3>
<div class="row-fluid">
	<ul class="thumbnails" id="hover-cap-4col">
		<% @route_point_photos.each do |route_point_photo| %>
			<li class="span3 photo">
				<div class="thumbnail">	
					<div class="caption" style="display: none;">
		        <h4><%= t(:photo) %></h4>        
		       	<p>
							<b><%=t(:datetime) + ': '%></b><%= route_point_photo.created_at %><br />
							<b><%=t(:manager) + ': '%></b><%= route_point_photo.route_point.route.manager.name %><br />
							<b><%=t(:customer) + ': '%></b><%= route_point_photo.route_point.shipping_address.name %><br />
							<b><%=t(:comment) + ': '%></b><%= route_point_photo.comment.truncate(10)%>
						</p>
							<%= link_to(route_route_point_photo_path(@route, @route_point, route_point_photo), class: 'btn') do%><i class='icon-info-sign' title='<%= t(:show) %>'></i><%end%>
							<%= link_to(download_route_route_point_photo_path(@route, @route_point, route_point_photo), class: 'btn' ) do%><i class='icon-download' title='<%= t(:download) %>'></i><%end%>
							<% if can? :manage, RoutePointPhoto %>
								<%= link_to(edit_route_route_point_photo_path(@route, @route_point, route_point_photo), class: 'btn') do%><i class='icon-edit' title='<%=t(:edit)%>'></i><%end%>
								<%= link_to(route_route_point_photo_path(@route, @route_point, route_point_photo), method: :delete, class: 'btn', data: { confirm: t(:are_you_sure) }) do%><i class='icon-remove' title="<%=t(:remove)%>"></i><%end%>
							<%end%>		        	
	        	</p>
			    </div>		
					<%= image_tag route_point_photo.photo.thumb.url %>					
				</div>				
			</li>
		<% end %>
	</ul>
</div>
<%= paginate @route_point_photos %>
<% if can? :manage, RoutePointPhoto %>
	<%= link_to t(:new_route_point_photo), new_route_route_point_photo_path, class: 'btn', :disable_with => t(:please_wait) %>
<% end %>
<br /><br />
<%= link_to t(:back), route_route_point_path(@route, @route_point) %>