<% content_for :javascripts do %>
  <%= javascript_include_tag 'route_point_photos' %>
<% end %>
<h3><%=t(:photos)%></h3>
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> <%= t(:filter)%>
</button>

<div id="demo" class="collapse">
	<br>
	<div class='well well-small'>
		<%= search_form_for @search, url: route_point_photos_path, class: "form-horizontal" do |f| %>
		  <div class="control-group">
		  	<%= f.label :created_at_gt, t(:date_period)+':', class: "control-label"%>
		  	<div class="controls">
		  		<div class="input-append date datetimepicker">
				    <%= f.text_field :created_at_gt, class: "input-medium search-field"%>
				    <span class="add-on">
				      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
				      </i>
				    </span>
				  </div>
		  		- 
		  		<div class="input-append date datetimepicker">
				    <%= f.text_field :created_at_lt, class: "input-medium search-field"%>
				    <span class="add-on">
				      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
				      </i>
				    </span>
				  </div>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :route_point_route_manager_id_eq, t(:manager)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.select :route_point_route_manager_id_eq, @managers.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_manager), :class => 'search-field'} %>
		  	</div>
		  </div>
		  <div class="control-group">	  	
		  		<%= f.submit t(:search), class: 'btn btn-info' %>	
		  		<button type="button" class='btn btn-info' id="q_reset"><%= t(:reset)%></button>  	
		  </div>	
		<%end%>
	</div>
</div>
<br />
<div class="row-fluid">
	<ul class="thumbnails" id="hover-cap-4col">
		<% @route_point_photos.each do |route_point_photo| %>
			<li class="span3 photo">
				<div class="thumbnail">	
					<div class="caption" style="display: none;">
		        <h4><%= t(:photo) %></h4>        
		       	<p>
							<b><%=t(:datetime) + ': '%></b><%= route_point_photo.created_at %><br />
							<b><%=t(:manager) + ': '%></b><%= route_point_photo.route_point.route.manager.name %><br />
							<b><%=t(:customer) + ': '%></b><%= route_point_photo.route_point.shipping_address.name %><br />
							<b><%=t(:comment) + ': '%></b><%= route_point_photo.comment.truncate(10)%>
						</p>
							<%= link_to(route_route_point_photo_path(route_point_photo.route_point.route, route_point_photo.route_point, route_point_photo), class: 'btn' ) do%><i class='icon-info-sign' title='<%= t(:show) %>'></i><%end%>		        	
	        	</p>
			    </div>		
					<%= image_tag route_point_photo.photo.thumb.url %>					
				</div>
			</li>
		<% end %>
	</ul>
</div>
<%= paginate @route_point_photos %>