<% content_for :javascripts do %>
  <%= javascript_include_tag 'routes' %>
<% end %>
<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div class="alert alert-error">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%=t('errors.title')%></h4>
      <ul>
      <% @route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date, t(:date) %>
    <%= f.text_field :date, id: 'date_gt'%>
  </div>
  <div class="field">
    <%= f.label :manager, t(:manager) %>
    <%= f.select(:manager_id, @managers.collect  {|p| [ p.name, p.id ]}, :include_blank => t(:select_manager)) %>
  </div>
  <div class="actions">
    <%= f.submit(t(:save), :class =>'btn') %>
  </div>
<% end %>
