<% content_for :javascripts do %>
  <%= javascript_include_tag 'routes' %>
<% end %>
<% if @route.errors.any? %>
  <div class="alert alert-error">
  	<button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><%=t('errors.title')%></h4>
    <ul>
    <% @route.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@route) do |f| %>
	<div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#tab1" data-toggle="tab"><%= t(:route)%></a></li>
	    <li><a href="#tab2" data-toggle="tab"><%= t(:route_points)%></a></li>
	  </ul>
	  <div class="tab-content">
	    <div class="tab-pane active" id="tab1">
	    	<div class="field">
		    	<%= f.label :date, t(:date) %>	    	
				  <div id="datetimepicker1" class="input-append date">
				    <%= f.text_field :date, class: "input-medium"%>
				    <span class="add-on">
				      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
				      </i>
				    </span>
				  </div>
			  </div>
			  <div class="field">
			    <%= f.label :manager, t(:manager) %>
			    <%= f.select(:manager_id, @managers.collect  {|p| [ p.name, p.id ]}, :include_blank => t(:select_manager)) %>
			  </div>			  			
	    </div>	
			<div class="tab-pane" id="tab2">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th><%= t(:shipping_address)%></th>
							<th><%= t(:status)%></th>
							<th><%= t(:actions) %></th>
						</tr>
					</thead>
					<tbody id="table">
						<%= f.fields_for :route_points do |route_point| %>
							<%= render 'route_point_fields', :f => route_point %>	
						<% end %>
					</tbody>
				</table>
				<p><%= link_to_add_association t(:add), f, :route_points, :class =>'btn' %></p>	
			</div>
			<div class="actions">
		    <%= f.submit(t(:save), :class =>'btn', :disable_with => t(:please_wait)) %>
		  </div>
		</div>
	</div>
<% end %>