<h3><%= t(:edit_route)%></h3>

<%= render 'form' %>
<%= link_to t(:edit_route_points), route_route_points_path(@route), :class =>'btn' %><br><br>
<%= link_to t(:show), @route %> |
<%= link_to t(:back), routes_path %>
