<% content_for :javascripts do %>
  <%= javascript_include_tag 'routes' %>
<% end %>

<h3>Listing routes</h3>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> Filter:
</button>
<div id="demo" class="collapse">
	<br>
	<div class='well well-small'>		
		<%= search_form_for @search, class: "form-horizontal" do |f| %>
		
		  <div class="control-group">
		  	<%= f.label :date_gt, 'Date period:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :date_gt, id: 'date_gt' , class: 'input-small search-field'%>
		  		- <%= f.text_field :date_lt, id: 'date_lt' , class: 'input-small search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :manager_id_eq, 'Manager:', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.select :manager_id_eq, @managers.collect  {|p| [ p.name, p.id ]}, {:include_blank => "Select a manager"}, {:class => 'search-field'} %>
		  	</div>
		  </div>
		  <div class="control-group">	  	
		  		<%= f.submit "Search", class: 'btn btn-info' %>
		  		<button type="button" class='btn btn-info' id="q_reset">Reset</button>	  	
		  </div>	
		<%end%>
	</div>
</div>

<table class="table table-striped table-hover">
  <thead>
	  <tr>
	    <th><%= sort_link @search, :date, "Date" %></th>
	    <th><%= sort_link @search, :manager_name, "Manager" %></th>
	    <th>Points count</th>
	    <th colspan="3">Actions</th>
	  </tr>
	</thead>
	<tbody>
		<% @routes.each do |route| %>
	  <tr>
	    <td><%= route.date %></td>
	    <td><%= route.manager.name%></td>
	    <td><%= route.route_points.count%></td>
	    <td><%= link_to 'Show', route %></td>
	    <td><%= link_to 'Edit', edit_route_path(route) %></td>
	    <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
		<% end %>
	</tbody>
</table>
<%= paginate @routes %>
<br />

<%= link_to 'New Route', new_route_path, :class =>'btn' %>
