<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h4>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t(:name) %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_id, t(:parent) %>
    <%= f.select(:parent_id, @categories.collect  {|p| [ p.name, p.id ] }, :include_blank => t(:select_category)) %>
    
  </div>
  <div class="field">
    <%= f.label :external_key, t(:external_key) %>
    <%= f.text_field :external_key %>
  </div>
  <div class="field form-inline">
  	<%= f.check_box :validity %>
    <%= f.label :validity, t(:validity) %><br /><br />
  </div>
  <div class="actions">
    <%= f.submit(t(:save), class: 'btn') %>
  </div>
<% end %>
