<p>
  <b><%= t(:name)%>:</b>
  <%= @category.name %>
</p>

<p>
  <b><%= t(:external_key)%>:</b>
  <%= @category.external_key %>
</p>

<p>
  <b><%= t(:parent)%>:</b>
  <%= @category.parent ? @category.parent.name : t(:root_category) %>
</p>

<p>
  <b><%= t(:validity)%>:</b>
  <%= @category.validity ? t(:truth) : t(:lie) %>
</p>


<%= link_to t(:edit), edit_category_path(@category) %> |
<%= link_to t(:back), categories_path %>
