<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>External key:</b>
  <%= @category.external_key %>
</p>

<p>
  <b>Parent:</b>
  <%= @category.parent.name %>
</p>

<p>
  <b>Validity:</b>
  <%= @category.validity %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
