<h3><%= t(:listing_products)%></h3>
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> <%= t(:filter)%>
</button>
<div id="demo" class="collapse">
	<br>
	<div class='well well-small'>	
		<%= search_form_for @search, class: "form-horizontal" do |f| %>
		  <div class="control-group">
		  	<%= f.label :name_cont, t(:name)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :name_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :external_key_cont, t(:external_key)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :external_key_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :category_id_eq, t(:category)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.select:category_id_eq, @categories.collect  {|p| [ p.name, p.id ]}, {:include_blank => t(:select_category)}, {:class => 'search-field'} %>
		  	</div>
		  </div>
		  <div class="control-group">	  	
		  		<%= f.submit t(:search), class: 'btn btn-info' %>
		  		<button type="button" class='btn btn-info' id="q_reset"><%= t(:reset)%></button>
		  </div>	
		<%end%>
	</div>
</div>
<table class="table table-striped table-hover">
	<thead>
	  <tr>
	  	<th><%= sort_link @search, :external_key, t(:external_key) %></th>
	  	<th><%= sort_link @search, :category_name, t(:category) %></th>
	    <th><%= sort_link @search, :name, t(:name) %></th>
	    <th><%= sort_link @search, :validity, t(:validity) %></th>
	    <th colspan="3"><%= t(:actions)%></th>
	  </tr>
	</thead>	
	<tbody>
		<% @products.each do |product| %>
	  <tr>
	  	<td><%= product.external_key %></td>
	  	<td><%= product.category.name %></td>
	    <td><%= product.name %></td>
	    <td><i class=<%=product.validity ? 'icon-ok-sign' : 'icon-remove-circle'%>></i></td>
	    <td><%= link_to(product) do %><i class='icon-info-sign' title='<%= t(:show) %>'></i><%end%></td>
		  <td><%= link_to(edit_product_path(product)) do %><i class='icon-edit' title='<%=t(:edit)%>'></i><%end%></td>
		  <td><%= link_to(product, method: :delete, data: { confirm: t(:are_you_sure) }) do %><i class='icon-remove' title="<%=product.validity ? t(:make_void) : t(:make_valid)%>"></i><%end%></td>
	  </tr>
		<% end %>
	</tbody>
</table>
<%= paginate @products%>

<%= link_to t(:new_product), new_product_path, :class =>'btn' %>
