<% content_for :javascripts do %>
  <%= javascript_include_tag 'products' %>
<% end %>
<h3>Listing products</h3>
<div class='well well-small'>
	<h4>Filter:</h4>	
	<%= search_form_for @search, class: "form-horizontal" do |f| %>
	  <div class="control-group">
	  	<%= f.label :name_cont, 'Product name:', class: "control-label"%>
	  	<div class="controls">
	  		<%= f.text_field :name_cont, class: 'input-medium'%>
	  	</div>
	  </div>
	  <div class="control-group">
	  	<%= f.label :external_key_cont, 'Product externat_key:', class: "control-label"%>
	  	<div class="controls">
	  		<%= f.text_field :external_key_cont, class: 'input-medium'%>
	  	</div>
	  </div>
	  <div class="control-group">	  	
	  		<%= f.submit "Search", class: 'btn btn-info' %>	  	
	  </div>	
	<%end%>
</div>
<table class="table table-striped table-hover">
	<thead>
	  <tr>
	  	<th><%= sort_link @search, :external_key, "External Key" %></th>
	    <th><%= sort_link @search, :name, "Name" %></th>
	    <th><%= sort_link @search, :validity, "Validity" %></th>
	    <th colspan="3">Actions</th>
	  </tr>
	</thead>	
	<tbody>
		<% @products.each do |product| %>
	  <tr>
	  	<td><%= product.external_key %></td>
	    <td><%= product.name %></td>
	    <td><i class=<%=product.validity ? 'icon-ok-sign' : 'icon-remove-circle'%>></i></td>
	    <td><%= link_to 'Show', product %></td>
	    <td><%= link_to 'Edit', edit_product_path(product) %></td>
	    <td><%= link_to 'Change validity', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
		<% end %>
	</tbody>
</table>
<%= paginate @products%>

<br />

<%= link_to 'New Product', new_product_path, :class =>'btn' %>
