<p>
  <b><%= t(:external_key)%>:</b>
  <%= @product.external_key %>
</p>
<p>
  <b><%= t(:category)%>:</b>
  <%= @product.category.name %>
</p>
<p>
  <b><%= t(:name)%>:</b>
  <%= @product.name %>
</p>
<h4><%= t(:product_unit_of_measures)%></h4>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t(:unit_of_measure)%></th>
      <th><%= t(:count_in_base_unit)%></th>
    </tr>
  </thead>
  <tbody>
    <% @product.product_unit_of_measures.each do |product_unit_of_measure| %>  
    <tr <%='class=success' if product_unit_of_measure.base %>>
      <td><%= product_unit_of_measure.unit_of_measure.name %></td>
      <td><%= product_unit_of_measure.count_in_base_unit %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= t(:base_unit_mark)%><br /><br />
<h4><%= t(:price_lists)%></h4>	
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t(:price_list)%></th>
      <th><%= t(:price)%></th>
    </tr>
  </thead>
  <tbody>
    <% @product.product_prices.each do |product_price| %>  
    <tr>
      <td><%= product_price.price_list.name %></td>
      <td><%= product_price.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t(:edit), edit_product_path(@product) %> |
<%= link_to t(:back), products_path %>
