<p>
  <b><%= t(:name)%>:</b>
  <%= @warehouse.name %>
</p>

<p>
  <b><%= t(:address)%>:</b>
  <%= @warehouse.address %>
</p>

<p>
  <b><%= t(:external_key)%>:</b>
  <%= @warehouse.external_key %>
</p>

<p>
  <b><%= t(:validity)%>:</b>
  <%= @warehouse.validity ? t(:truth) : t(:lie) %>
</p>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> <%=t(:filter)%>
</button>

<div id="demo" class="collapse">
	<br>
	<div class='well well-small'>
		<%= search_form_for @search, :url => warehouse_path(@warehouse), class: "form-horizontal" do |f| %>
		  <div class="control-group">
		  	<%= f.label :product_name_cont, t(:product)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :product_name_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :quantity_eq, t(:quantity)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :quantity_eq, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">	  	
		  		<%= f.submit t(:search), class: 'btn btn-info' %>
		  		<button type="button" class='btn btn-info' id="q_reset"><%=t(:reset)%></button>	  	
		  </div>	
		<%end%>
	</div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
    	<th><%= sort_link @search, :product_name, t(:product) %></th>
      <th><%= sort_link @search, :unit_of_measure_name, t(:unit_of_measure) %></th>
      <th><%= sort_link @search, :quantity, t(:quantity) %></th>
    </tr>
  </thead>
  <tbody>
    <% @remainders.each do |remainder| %>  
    <tr>
    	<td><%= remainder.product.name %></td>
      <td><%= remainder.unit_of_measure.name %></td>
      <td><%= remainder.quantity %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @remainders %>


<% if can? :manage, Warehouse %><%= link_to t(:edit), edit_warehouse_path(@warehouse) %> |<% end %>
<%= link_to t(:back), warehouses_path %>