<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="bold">
      <Font ss:Bold="1" />
      <Borders>
		    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
		    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
		    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
		    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
		  </Borders>
    </Style>
    <Style ss:ID="default">
	  	<Borders>
	    	<Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
	 		</Borders>
		</Style>
  </Styles>
  <Worksheet ss:Name="<%= t(:customer_debts_report) %>">
    <Table>
    <Column ss:Width="250"/>
		<Column ss:Width="400"/>
		<Column ss:Width="80"/>
      <Row>
      	<Cell ss:StyleID="bold"><Data ss:Type="String"><%= t(:customer) %></Data></Cell>
        <Cell ss:StyleID="bold"><Data ss:Type="String"><%= t(:address) %></Data></Cell>        
        <Cell ss:StyleID="bold"><Data ss:Type="String"><%= t(:debt) %></Data></Cell>
      </Row>
    <% @customer_debts.each do |customer| %>
      <Row>
      	<Cell ss:StyleID="default"><Data ss:Type="String"><%= customer.name %></Data></Cell>
        <Cell ss:StyleID="default"><Data ss:Type="String"><%= customer.address %></Data></Cell>
        <Cell ss:StyleID="default"><Data ss:Type="String"><%= customer.debt %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>