<% content_for :javascripts do %>
  <%= javascript_include_tag 'reports' %>
<% end %>
<h3><%= t(:reports)%></h3>
<%= render 'tab_menu' %>
<%= search_form_for @search, :url => reports_customer_debts_path(format: "xls"), class: "form-horizontal" do |f| %>
  <div class="control-group">
  	<%= f.label :id_in, t(:customer)+':', class: "control-label"%>
  	<div class="controls">
  		<%= f.select :id_in, @customers.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_customer), :multiple => true, :class => 'search-field'} %>
  	</div>
  </div>
  <div class="control-group">	  	
  		<%= f.submit t(:download_xls), class: 'btn btn-info' %>
  		<button type="button" class='btn btn-info' id="q_reset"><%= t(:reset)%></button>	  	
  </div>	
<%end%>