<h3><%= t(:reports)%></h3>
<ul class="nav nav-tabs">
  <li class="active"><%= link_to t(:reports), reports_path %></li>
  <li><%= link_to t(:order_report), reports_orders_path%></li>
  <li><%= link_to t(:route_report), reports_routes_path%></li>
  <li><%= link_to t(:template_route_report), reports_template_routes_path%></li>
  <li><%= link_to t(:customer_debts_report), reports_customer_debts_path%></li>
</ul>