<% content_for :javascripts do %>
  <%= javascript_include_tag 'reports' %>
<% end %>
<h3><%= t(:reports)%></h3>
<ul class="nav nav-tabs">
  <li><%= link_to t(:reports), reports_path %></li>
  <li class="active"><%= link_to t(:order_report), reports_orders_path%></li>
  <li><%= link_to t(:route_report), reports_routes_path%></li>
  <li><%= link_to t(:template_route_report), reports_template_routes_path%></li>
</ul>
<%= search_form_for @search, :url => reports_orders_path(format: "xls"), class: "form-horizontal" do |f| %>

  <div class="control-group">
  	<%= f.label :date_gt, t(:date_period)+':', class: "control-label"%>
  	<div class="controls">
  		<div class="input-append date datetimepicker">
		    <%= f.text_field :date_gt, class: "input-medium search-field"%>
		    <span class="add-on">
		      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
		      </i>
		    </span>
		  </div>
  		- 
  		<div class="input-append date datetimepicker">
		    <%= f.text_field :date_lt, class: "input-medium search-field"%>
		    <span class="add-on">
		      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
		      </i>
		    </span>
		  </div>
  	</div>
  </div>
  <div class="control-group">
  	<%= f.label :shipping_date_gt, t(:shipping_date_period)+':', class: "control-label"%>
  	<div class="controls">
  		<div class="input-append date datetimepicker">
		    <%= f.text_field :shipping_date_gt, class: "input-medium search-field"%>
		    <span class="add-on">
		      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
		      </i>
		    </span>
		  </div>		  		
  		- 
  		<div class="input-append date datetimepicker">
		    <%= f.text_field :shipping_date_lt, class: "input-medium search-field"%>
		    <span class="add-on">
		      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
		      </i>
		    </span>
		  </div>				  
  	</div>
  </div>
  <div class="control-group">
  	<%= f.label :exported_at_gt, t(:exported_period)+':', class: "control-label"%>
  	<div class="controls">
  		<div class="input-append date datetimepicker">
		    <%= f.text_field :exported_at_gt, class: "input-medium search-field"%>
		    <span class="add-on">
		      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
		      </i>
		    </span>
		  </div>
		  -
  		<div class="input-append date datetimepicker">
		    <%= f.text_field :exported_at_lt, class: "input-medium search-field"%>
		    <span class="add-on">
		      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
		      </i>
		    </span>
		  </div>		  		
  	</div>
  </div>
  <div class="control-group">
  	<%= f.label :shipping_address_customer_id_in, t(:customer)+':', class: "control-label"%>
  	<div class="controls">
  		<%= f.select :shipping_address_customer_id_in, @customers.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_customer), :multiple => true, :class => 'search-field'} %>
  	</div>
  </div>
  <div class="control-group">
  	<%= f.label :shipping_address_id_in, t(:shipping_address)+':', class: "control-label"%>
  	<div class="controls">
  		<%= f.select :shipping_address_id_in, @shipping_addresses.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_shipping_address), :multiple => true, :class => 'search-field'} %>
  	</div>
  </div>
  <div class="control-group">
  	<%= f.label :manager_id_in, t(:manager)+':', class: "control-label"%>
  	<div class="controls">
  		<%= f.select :manager_id_in, @managers.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_manager), :multiple => true, :class => 'search-field'} %>
  	</div>
  </div>
  <div class="control-group">
  	<%= f.label :warehouse_id_in, t(:warehouse)+':', class: "control-label"%>
  	<div class="controls">
  		<%= f.select :warehouse_id_in, @warehouses.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_warehouse), :multiple => true, :class => 'search-field'} %>
  	</div>
  </div>
  <div class="control-group">
  	<%= f.label :price_list_id_in, t(:price_list)+':', class: "control-label"%>
  	<div class="controls">
  		<%= f.select :price_list_id_in, @price_lists.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_price_list), :multiple => true, :class => 'search-field'} %>
  	</div>
  </div>
  
  <div class="control-group">
  		<%= f.submit t(:download_xls), class: 'btn btn-info' %>	
  		<button type="button" class='btn btn-info' id="q_reset"><%= t(:reset)%></button>  	
  </div>	
<%end%>