<% content_for :javascripts do %>
  <%= javascript_include_tag 'reports' %>
<% end %>
<h3><%= t(:reports)%></h3>
<ul class="nav nav-tabs">
  <li><%= link_to t(:reports), reports_path %></li>
  <li><%= link_to t(:order_report), reports_orders_path%></li>
  <li class="active"><%= link_to t(:route_report), reports_routes_path%></li>
  <li><%= link_to t(:template_route_report), reports_template_routes_path%></li>
  <li><%= link_to t(:customer_debts_report), reports_customer_debts_path%></li>
  <li><%= link_to t(:remainders_report), reports_remainders_path%></li>
</ul>
<%= search_form_for @search,:url => reports_routes_path(format: "xls"), class: "form-horizontal" do |f| %>
	<div class="control-group">
  	<%= f.label :route_date_gt, t(:date_period)+':', class: "control-label"%>
  	<div class="controls">
  		<div class="input-append date datepicker">
		    <%= f.text_field :route_date_gt, class: "input-medium search-field"%>
		    <span class="add-on">
		      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
		      </i>
		    </span>
		  </div>		  		
  		- 
  		<div class="input-append date datepicker">
		    <%= f.text_field :route_date_lt, class: "input-medium search-field"%>
		    <span class="add-on">
		      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
		      </i>
		    </span>
		  </div>		  		
  	</div>
  </div>
  <div class="control-group">
  	<%= f.label :route_manager_id_in, t(:manager)+':', class: "control-label"%>
  	<div class="controls">
  		<%= f.select :route_manager_id_in, @managers.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_manager), :multiple => true, :class => 'search-field'} %>
  	</div>
  </div>
  <div class="control-group">
  	<%= f.label :shipping_address_customer_id_in, t(:shipping_address)+':', class: "control-label"%>
  	<div class="controls">
  		<%= f.select :shipping_address_customer_id_in, @customers.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_customer), :multiple => true, :class => 'search-field'} %>
  	</div>
  </div>
  <div class="control-group">
  	<%= f.label :shipping_address_id_in, t(:shipping_address)+':', class: "control-label"%>
  	<div class="controls">
  		<%= f.select :shipping_address_id_in, @shipping_addresses.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_shipping_address), :multiple => true, :class => 'search-field'} %>
  	</div>
  </div>
  <div class="control-group">
  	<%= f.label :status_id_in, t(:status)+':', class: "control-label"%>
  	<div class="controls">
  		<%= f.select :status_id_in, @statuses.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_status), :multiple => true, :class => 'search-field'} %>
  	</div>
  </div>
  <div class="control-group">	  	
  		<%= f.submit t(:download_xls), class: 'btn btn-info' %>	
  		<button type="button" class='btn btn-info' id="q_reset"><%= t(:reset)%></button>  	
  </div>	
<%end%>