<h3><%= t(:listing_template_route_points)%></h3>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
  <i class="icon-filter icon-white"></i> <%= t(:filter)%>
</button>

<div id="demo" class="collapse">
	<br>
	<div class='well well-small'>
		<%= search_form_for [@template_route, @search], class: "form-horizontal" do |f| %>
		  <div class="control-group">
		  	<%= f.label :shipping_address_name_cont, t(:name)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :shipping_address_name_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">
		  	<%= f.label :shipping_address_address_cont, t(:address)+':', class: "control-label"%>
		  	<div class="controls">
		  		<%= f.text_field :shipping_address_address_cont, class: 'search-field'%>
		  	</div>
		  </div>
		  <div class="control-group">	  	
		  		<%= f.submit t(:search), class: 'btn btn-info' %>
		  		<button type="button" class='btn btn-info' id="q_reset"><%= t(:reset)%></button>	  	
		  </div>	
		<%end%>
	</div>
</div>

<table class="table table-striped table-hover">
	<thead>
  <tr>
    <th><%= sort_link @search, :shipping_address_name, t(:name) %></th>
    <th><%= sort_link @search, :shipping_address_address, t(:address) %></th>
    <th colspan="3"><%= t(:actions)%></th>
  </tr>
  </thead>

<% @template_route_points.each do |template_route_point| %>
  <tr>
    <td><%= template_route_point.shipping_address.name %></td>
    <td><%= template_route_point.shipping_address.address %></td>
    <td><%= link_to(template_route_template_route_point_path(@template_route, template_route_point)) do %><i class='icon-info-sign' title='<%= t(:show) %>'></i><%end%></td>
    <td><%= link_to(edit_template_route_template_route_point_path(@template_route, template_route_point)) do %><i class='icon-edit' title='<%=t(:edit)%>'></i><%end%></td>
    <td><%= link_to(template_route_template_route_point_path(@template_route, template_route_point), method: :delete, data: { confirm: t(:are_you_sure) }) do %><i class='icon-remove' title="<%=t(:remove)%>"></i><%end%></td>
  </tr>
<% end %>
</table>

<%= paginate @template_route_points %>

<%= link_to t(:new_template_route_point), new_template_route_template_route_point_path, class: 'btn' %><br /><br />
<%= link_to t(:back), template_route_path(@template_route) %> | <%= link_to t(:back_template_routes), template_routes_path %>
