<p>
  <b><%= t(:shipping_address)%>:</b>
  <%= @template_route_point.shipping_address.name %>
</p>
<p>
  <b><%= t(:address)%>:</b>
  <%= @template_route_point.shipping_address.address %>
</p>


<% if can? :manage, TemplateRoutePoint %><%= link_to t(:edit), edit_template_route_template_route_point_path(@template_route, @template_route_point) %> |<% end %>
<%= link_to t(:back), template_route_template_route_points_path %>
