<!DOCTYPE html>
<html>
<head>
  <title>Mobile sales system</title>
  <%= favicon_link_tag 'favicon.ico', :type => 'image/png' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :stylesheets %> 
  <%= yield :javascripts %> 
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">      
        <ul class="nav nav-tabs nav-stacked">
        <li class="nav-header">MSS menu </li>
            <li <%= 'class=active' if @current_controller =='managers'%>>
              <%= link_to "Managers", managers_path%>
            </li>
            <li <%= 'class=active' if @current_controller =='customers' or @current_controller =='shipping_addresses'%>>
              <%= link_to "Customers", customers_path %>
            </li>
            <li <%= 'class=active' if @current_controller =='warehouses'%>>
              <%= link_to "Warehouses", warehouses_path %>
            </li>
            <li <%= 'class=active' if @current_controller =='orders' or @current_controller =='order_items'%>>
              <%= link_to "Orders", orders_path %>
            </li>
            <li <%= 'class=active' if @current_controller =='routes' or @current_controller =='route_points'%>>
              <%= link_to "Routes", routes_path %>
            </li>
            <li <%= 'class=active' if @current_controller =='template_routes' or @current_controller =='template_route_points'%>>
              <%= link_to "Template Routes", template_routes_path %>
            </li>
            <li <%= 'class=active' if @current_controller =='categories'%>>
              <%= link_to "Categories", categories_path %>
            </li>            
            <li <%= 'class=active' if @current_controller =='products'%>>
              <%= link_to "Products", products_path %>
            </li>
            <li <%= 'class=active' if @current_controller =='statuses'%>>
              <%= link_to "Statuses", statuses_path %>
            </li>
            <li <%= 'class=active' if @current_controller =='unit_of_measures'%>>
              <%= link_to "Units of measures", unit_of_measures_path %>
            </li>
            <li <%= 'class=active' if @current_controller =='price_lists'%>>
              <%= link_to "Price lists", price_lists_path %>
            </li>
            <li class="nav-header">User settings</li>
            <li <%= 'class=active' if @current_controller =='profile'%>>
              <%= link_to "Profile", profile_path %>
            </li>
            <li class="nav-header">Admin settings</li>
            <li <%= 'class=active' if @current_controller =='exchange'%>>
              <%= link_to "Exchange", exchange_path %>
            </li>
            <li <%= 'class=active' if @current_controller =='users'%>>
              <%= link_to "Users", users_path %>
            </li>                      
	          <li>
	          	<%= link_to 'Logout', destroy_user_session_path %>
	          </li>
      </div>
      
      <div class="span10 well">
      	<%= render :partial => "/pages/flash", :locals => {:flash => flash}%>
        <%= yield %> 
      </div>
    </div>
  </div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
